@import "variables";

// $main-color: #3a996c;
// $main-color: #40b168;
$main-color: #28a755;

:root {
  --main-color: #{$main-color};
  --text-color: #333;
}

*, *:after {
  box-sizing: border-box;
}

::selection {
  background: $main-color;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 140%;
  color: var(--text-color);
  background: #e5e9e9;
  -webkit-print-color-adjust: exact;
}

.name {
  font-size: 2.32rem;
  letter-spacing: 0.03em;
  font-weight: 900;
  margin: 0;
  padding: 0;
  line-height: 1em;
  margin-bottom: 8px;
}

.goal {
  display: inline-block;
  padding: 6px 10px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin-top: 12px;
  margin-bottom: 0;
  background: #f5f5f5;
  font-family: monospace;
}

// MY PHOTO
// ---------------
.my-photo {
  display: block;
  height: 180px;
  margin-left: auto;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1)
}

span.highlight {
  font-weight: 500;
  border-bottom: 1px dotted var(--text-color);
}

section.highlight {
  position: relative;
}
section.highlight:before {
  position: absolute;
  content: '';
  left: -55px; // TODO make it more flexible
  height: 100%;
  width: 8px;
  //background: grey;
  background: var(--main-color);
}

.contact-info {
  margin-top: 20px;
}

// CONTACT
// ---------------
.contact {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    padding: 4px;

    svg {
      fill: var(--text-color);
    }

    svg, img {
      width: 20px;
    }
  }
  &__info {
    margin-left: 0.5rem;
    font-size: 1rem;
    a {
      color: var(--text-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// SECTION
// ---------------
.section {
  margin-top: 35px;
  font-size: 1rem;

  &__title {
    font-size: 1.65rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 1rem;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 6px;
        height: 8px;
        width: 8px;
        display: block;
        background-image: url("../images/list-item-icon.svg");
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

// PROJECT
// ---------------
.project {
  &__title {
    margin-bottom: 0.3rem;

    > * {
      display: inline-block;
      color: inherit;
    }

    h2, h3, h4 {
      font-size: 1.1rem;
      margin: 0;
    }

    a {
      color: inherit;
    }
  }

  &__date {
    color: #4b4b4b;
    margin-left: 6px;
  }

  &__description {
    font-size: 1rem;

    a {
      color: inherit;
      font-weight: 500;
      text-decoration: none;
      border-bottom: 1px dotted var(--text-color);
      &:hover {
        border-bottom: 1px solid var(--text-color);
      }
    }
  }

  &__tags {
    margin-top: 0.5rem;
  }

  &__tag {
    display: inline-block;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 1px 10px;
    color: white;
    background: var(--main-color);
    margin-right: 3px;
    margin-bottom: 6px;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1)
  }
}

.button {
  display: inline-block;
  padding: 10px 16px;
  text-decoration: none;
  color: #333;
  background: white;
  border: 1px solid #dbdbdb;
  margin-top: 1rem;
  margin-right: 0.6rem;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);

  &:hover {
    border-color: #999;
  }

  &:active {
    background: #f3f3f3;
  }

  &--primary {
    $color: $main-color;
    color: white;
    background: $color;
    border-color: transparent;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);

    &:hover {
      background: darken($color, 3%);
      border-color: transparent;
      color: white;
    }

    &:active {
      background: darken($color, 6%);
      color: white;
    }
  }
}

// MEDIA QUERIES
// ---------------
@media print {
  .non-printable {
    display: none !important;
  }
}

@media not print {
  .only-printable {
    display: none !important;
  }
}

@media screen and (max-width: $screen-md-min) {
  html {
    font-size: 18px;
  }
  .my-photo {
    width: 100%;
    margin-top: 20px;
    height: auto !important;
  }
}

@media (min-width: $screen-sm-min) {
  .main-section {
    padding-right: 30px;
  }
}

@media print {
  :root {
    --main-color: #22974b;
    --text-color: #111;
  }

  .project__title {
    a {
      text-decoration: none;
    }
  }

  .goal {
    font-family: inherit;
  }

  .my-photo, .project__tag {
    box-shadow: none !important;
  }
}
